# Subscribers
{% set callback_args = [] -%}
{% set timeSync_args = [] -%}
{% for sub in subscribers -%}
from {{ sub.library }}.msg import {{ sub.msgtype }}
{{ sub.sub_name }}_sub = message_filters.Subscriber('{{ sub.topic }}', {{ sub.msgtype }})
{% do callback_args.append(sub.sub_name + '_msg') -%}
{% do timeSync_args.append(sub.sub_name + '_sub') -%}
{% endfor %}
def fetch_state({{ callback_args | join(',') }}):
    {% if sim_sub -%}
    # Get ModelStates indexes info
    model_states_indexes = {}
    model_states_names = model_states_msg.name
    index_counter = 0
    for name in model_states_names:
        model_states_indexes[name] = index_counter
        index_counter += 1
    {% endif -%}
    # Save relevant info
    {% for var in var_list -%}
    {% if var.sub == 'position' or var.sub == 'velocity' -%}
    object_index = model_states_indexes['{{ var.object_name }}']
    state['{{ var.name }}'] = model_states_msg.{{ var.arg }}[object_index].{{ var.arg_extra }}
    {% elif var.sub == 'localization_error' -%}
    #TODO implement localization_error func
    {% else -%}
    state['{{ var.name }}'] = {{ var.sub }}_msg.{{ var.arg }}
    {% endif -%}
    {% endfor %}
time_sync = message_filters.ApproximateTimeSynchronizer([{{ timeSync_args | join(',') }}], queue_size=1, slop=0.1, allow_headerless=True)
time_sync.registerCallback(fetch_state)