{% for prop in properties %}
{{ prop.prop_global_var }} = True
def property_{{ loop.index }}(states):
    global {{ prop.prop_global_var }}
    if {{ prop.prop_global_var }}:
        {% for comp in prop.comparisons -%}
        if {{ comp[0] }}:
            print(f'{{'{Fore.BLUE}'}}{{ prop.line }} |{{'{Style.RESET_ALL}'}} {{ prop.type }} {{'{Fore.BLUE}'}}..{{'{Style.RESET_ALL}'}} {{ comp[1] }}')
            print(f'      {{'{Fore.RED}'}}{{ comp[0] }}{{'{Style.RESET_ALL}'}}')
            {{ prop.prop_global_var }} = False
    {% endfor -%}
    return {{ prop.prop_global_var }}
{% endfor -%}