{% for prop in properties %}
{{ prop.prop_global_var }} = True
def property_{{ loop.index }}(states):
    global {{ prop.prop_global_var }}
    if {{ prop.prop_global_var }}:
        {% for comp in prop.comparisons -%}
        if {{ comp }}:
            print("my_error_message")
            {{ prop.prop_global_var }} = False
    {% endfor -%}
    return {{ prop.prop_global_var }}
{% endfor -%}