{% set callback_args = [] -%}
{% for sub in subscribers -%}
{% do callback_args.append(sub.sub_name + '_msg') -%}
{% endfor %}
def fetch_state({{ callback_args | join(',') }}):
    global state
    temp_state = {}
    {% if sim_sub -%}
    # Get ModelStates indexes info
    model_states_indexes = {}
    for index,name in enumerate(model_states_msg.name):
        model_states_indexes[name] = index
    {% endif -%}
    try:
        {% for var in var_list -%}
        temp_state['{{ var.name }}'] = {{ var.extract }}
        {% endfor -%}
        temp_state['var_control'] = True
    except KeyError:
        temp_state['var_control'] = False
    state = temp_state
