#! /usr/bin/env python

import rospy
import message_filters

rospy.init_node('{{ file_prefix }}')

# Save state of the simulation
sim_state = [{},{},{},{},{}]  #TODO the size could be decided somewhere
# Properties global variables
{% for prop in properties -%}{{ prop.property }}_pattern_var{{ loop.index }} = True
{% endfor -%}