{% set expr_args = [] -%}
{% for expr in prop.list -%}
{% if expr.type == 'comparison' -%}
    {% do expr_args.append(expr.add ~ 'not ' ~ expr.var1 + ' ' ~ expr.op_bin + ' ' ~ expr.var2) -%}
{% elif expr.type == 'pattern' -%}
    {% do expr_args.append(expr.add ~ 'not ' ~ expr.pattern + '_property' ~ loop.index + '()') -%}
{% elif expr.type == 'var' -%}
    {% do expr_args.append(expr.add ~ 'not ' ~ expr.var) -%}
{% endif -%}
{% endfor -%}
pattern_var_{{ index }} = False
def always_property_{{ index }}():
    global pattern_var_{{ index }}
    if pattern_var_{{ index }}:
        if {% for expr in expr_args -%} {{ expr }} {% endfor -%}:
            print("my_error_message")
            return False
        return True
    return False
