def always_property(global_pattern_var,):
    if global_pattern_var:
        if not #TODO change here
            print("my_error_message")
            return False
        return True
    return False
        {% if prop.type == 'comparison' -%}

        {% elif prop.type == 'pattern' -%}

        {% elif prop.type == 'var' -%}

        {% endfor -%}