#! /usr/bin/env python

import rospy
import message_filters
from colorama import Fore, Style
{% for sub in subscribers -%}
from {{ sub.library }}.msg import {{ sub.msgtype }}
{% endfor -%}

{% include "fetch_state.jinja" %}
def update_state():
    global save_states,state
    save_states.insert(0,state)
    save_states = save_states[:{{ temp_size }}]
{% include "properties.jinja" %}
{% include "main.jinja" -%}
